<div class="nba-playoff-matchup-container">
    @if(series(); as series) {
        <div 
            class="nba-playoff-matchup-team top-matchup" 
            [ngClass]="{
                'nba-matchup-losing-team': (series.higherSeedTeam && series.seriesWinner?.nba_id && series.seriesWinner?.nba_id !== series.higherSeedTeam.nba_id)
            }"
        >        
            <span class="team-rank">{{series.higherSeedRank === 0 ? " " : series.higherSeedRank}}</span>
            @if(series.higherSeedTeam; as team){
                <a [routerLink]="Pages.NBA_TEAMS + '/' + team.url_slug"><img src="./assets/images/logos/{{team.image}}.svg" class="team-logo" /></a>
                <span class="team-name">{{team.short_name}}</span>
                @if(!series.playIn){
                    <span class="series-score">
                        {{series.higherSeedSeriesWins}}-{{series.lowerSeedSeriesWins}}
                    </span>
                }
            }
            @else if (series.altTextHigh) {
                <span class="alt-text">{{series.altTextHigh}}</span>
            }
        </div>
        <div 
            class="nba-playoff-matchup-team bottom-matchup" 
            [ngClass]="{
                'nba-matchup-losing-team': (series.lowerSeedTeam && series.seriesWinner?.nba_id && series.seriesWinner?.nba_id !== series.lowerSeedTeam.nba_id)
            }"
        >
            <span class="team-rank">{{series.lowerSeedRank === 0 ? " " : series.lowerSeedRank}}</span>
            @if(series.lowerSeedTeam; as team){
                <a [routerLink]="Pages.NBA_TEAMS + '/' + team.url_slug"><img src="./assets/images/logos/{{team.image}}.svg" class="team-logo" /></a>
                <span class="team-name">{{team.short_name}}</span>
                @if(!series.playIn){
                    <span class="series-score">
                        {{series.lowerSeedSeriesWins}}-{{series.higherSeedSeriesWins}}
                    </span>
                }
            }
            @else if (series.altTextLow) {
                <span class="alt-text">{{series.altTextLow}}</span>
            }
        </div>
    }
</div>
