.game-card-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 0;
    padding: 2rem;

    border: 1px solid black;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    margin: 0.5rem 1rem;
    background-color: white;
    position: relative;

    .invalid-game {
        margin: 2.5rem auto;
        font-size: 20px;
        font-weight: bold;
    }

    .game-card-main {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .game-team-info {
            display: flex;
            flex-direction: column;
            align-items: center;

            .team-logo {
                width: 100px;
            }

            .team-name {
                font-size: 15px;
                font-weight: bold;
            }

            .stats {
                font-size: 12px;
                font-weight: bold;
            }
        }

        .game-team-score-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .game-team-score {
                font-size: 60px;
                font-weight: bold;
            }

            .game-team-score-bonus {
                font-size: 14px;
                font-weight: bold;
                color: gold;
                margin-bottom: 10px;
            }

            .game-team-score-timeout-container {
                display: flex;
                align-items: center;

                .dot {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    margin: 0 3px;
                }
            }
        }

        .game-time-info {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: center;
            align-items: center;

            .game-series {
                font-size: 20px;
                font-weight: bold;
            }

            .game-date {
                font-size: 20px;
                font-weight: bold;
            }

            .game-time {
                font-size: 30px;
                font-weight: bold;
            }

            .game-time-live {                
                font-size: 14px;
                color: red;
                font-weight: bold;
            }

            .game-time-later {                
                font-size: 14px;
                color: red;
                font-weight: bold;
            }

            .game-time-countdown {                
                font-size: 14px;
                color: red;
                font-weight: bold;
            }

            .tv-providers {
                display: flex;
                gap: 0.5rem;

                .tv-provider {
                    cursor: pointer;
                    z-index: 5;
                    width: 30px;
                }
            }

            .view-game-link {
                font-size: 16px;
                text-decoration: none;
            }
        }
    }

    .card-buttons {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        gap: 5px;

        .update-spinner-container {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .update-time-container {
        position: absolute;
        bottom: 5px;
        right: 5px;
        display: flex;

        .update-time-text {
            font-weight: bold;
            font-size: 12px;
            color: lightgray;
        }
    }
}