<div class="tab-container">
    <div class="tab-header"        
        [ngStyle]="{
            '--team-color': this.selectedTeam().nba_id ? this.selectedTeam().primary_color : 'white',
            'border-bottom': '4px solid ' + (this.selectedTeam().nba_id ? this.selectedTeam().primary_color : 'black')
        }"
    >
        @if(selectedTeam$ | async; as selectedTeam){
            <div 
                class="selected-team-header" 
                *ngIf="selectedTeam.nba_id"
            >
                <img src="./assets/images/logos/{{selectedTeam.image}}.svg" class="selected-team-logo"/>
                <span class="selected-team-name">{{ selectedTeam.full_name }}</span>
                <div class="team-button-container">
                    <p-button [rounded]="true" [text]="true" class="favorite-button" (onClick)="this.toggleFavoriteTeam()">
                        <i 
                            class="pi pi-star-fill border-icon" 
                            style="font-size: 1rem;"
                            [ngStyle]="{
                                'color': (this.nbaService.settingsService.settings?.favoriteTeams?.nbaTeamId === selectedTeam.nba_id ? '#fcba03' : 'var(--text-color)')
                            }"
                            pTooltip="Favorite Team"
                        ></i>
                    </p-button>
                    <p-button [rounded]="true" [text]="true" class="follow-button" (onClick)="this.toggleFollowTeam()">
                        <i 
                            [class]="this.nbaService.settingsService.settings?.followingTeams?.nbaTeams?.includes(selectedTeam.nba_id) ? 'pi pi-eye' : 'pi pi-eye-slash'" 
                            style="font-size: 1rem; color: var(--text-color);"
                            [pTooltip]="this.nbaService.settingsService.settings?.followingTeams?.nbaTeams?.includes(selectedTeam.nba_id) ? 'Following Team' : 'Follow Team'"
                        ></i>
                    </p-button>
                    <p-button [rounded]="true" [text]="true" class="notification-button" (onClick)="this.openNotificationSettings()">
                        <!-- <img 
                            src="./assets/images/icons/{{this.notifications ? 'mat_notifications_active' : 'mat_notifications_add'}}.svg" 
                            style="width: 20px; color: var(--text-color);"
                            [pTooltip]="this.notifications ? 'Notifications On' : 'Notifications Off'"
                        /> -->
                        <app-svg-icons 
                            style="color: var(--text-color)"
                            [name]="this.notifications ? SvgIcon.NOTIFICATIONS_ON : SvgIcon.NOTIFICATIONS_ADD"
                            [pTooltip]="this.notifications ? 'Notifications On' : 'Notifications Off'"
                            [width]="1.15"
                            [height]="1.15"
                        >
                        </app-svg-icons>
                    </p-button>
                </div>
                <div *ngIf="this.espnStats" class="team-stats">
                    <span>{{this.winLossStr}}</span>
                    <span>{{this.standingStr}}</span>
                </div>
            </div>
        }        
        <p-dropdown class="team-dropdown" [options]="this.TEAMS" [(ngModel)]="dropDownValue" optionLabel="full_name" [filter]="true" filterBy="full_name" placeholder="Select a Team" (onChange)="this.changeTeamDropdown($event)">
            <ng-template pTemplate="selectedItem">
                <div class="team-list-selected-item" *ngIf="this.selectedTeam().nba_id">
                    <div>{{ this.selectedTeam().full_name }}</div>
                </div>
            </ng-template>
            <ng-template let-team pTemplate="item">
                <div class="team-list-selected-item">
                    <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px"/> -->
                    <img src="./assets/images/logos/{{team.image}}.svg" class="team-logo" style="width: 20px"/>
                    <div>{{ team.full_name }}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <!-- <p-button label="Notification" (onClick)="sendNotification()"></p-button> -->
    </div>
    
    <div class="team-container">        
        @if(selectedTeam$ | async; as selectedTeam){
            <div class="team-slide-container" [@slideAnimation]="selectedTeam.nba_id">
                
                @if (nextGame$ | async; as nextGame) {
                    <app-nba-boxscore *ngIf="nextGame.gameId" class="next-game" [game]="nextGame"></app-nba-boxscore>
                } 
                
                @if(selectedTeam.nba_id){
                    <div class="team-info">
                        <div 
                            class="tab-header-container"
                            [ngStyle]="{
                                '--team-color': (selectedTeam?.primary_color ?? 'black'),
                            }"
                        >
                            <p-tabMenu [model]="tabs" [activeItem]="activeTab" (activeItemChange)="onActiveTabChange($event)"></p-tabMenu>
                        </div>
                        <div class="team-tab-content" [ngSwitch]="this.activeTab?.id">
                            <app-nba-team-schedule *ngSwitchDefault class="nba-tab-component" [team]="selectedTeam"></app-nba-team-schedule>
                        </div>
                    </div>
                }
                @else {
                    <div class="select-team-warning">
                        <span>Please Select a Team</span>
                        <div class="select-team-info">
                            <span>Click the</span>
                            <i [class]="'pi pi-star-fill'" style="font-size: 0.8rem; color: var(--text-color);"></i>
                            <span>button on a team's page to load their page by default</span>
                        </div>
                    </div>
                }
                
            </div>
        }
        @else {
            <div class="select-team-warning">
                Please Select a Team
            </div>
        }
    </div>
</div>
<p-dialog 
    header="Notifications" 
    [(visible)]="notificationDialog"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    position="center"
    (onHide)="this.closeNotificationDialog()"
>
    @if(this.teamNotificationSettings; as settings){
        <div class="notification-dialog-container">
            <div class="notification-row">
                <span class="notification-type">Game Reminder</span>
                <p-inputSwitch [(ngModel)]="settings.gameReminder"></p-inputSwitch>
            </div>
            <div class="notification-row">
                <span class="notification-type">Game Start</span>
                <p-inputSwitch [(ngModel)]="settings.gameStart"></p-inputSwitch>
            </div>
            <div class="notification-row">
                <span class="notification-type">Final Score</span>
                <p-inputSwitch [(ngModel)]="settings.finalScore" [disabled]="true"></p-inputSwitch>
            </div>
        </div>
    }
    @else {
        Missing Settings
    }
</p-dialog>
