:host {
 display: flex;
 flex-direction: column;
 height: 100vh;
}

.root-wrapper {
    // display: flex;
    // flex-direction: column;
    // width: 100%;
    // height: 100vh;
    // overflow-y: hidden;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: hidden;
}

:host ::ng-deep .nba-game-ptoast {
    width: 50% !important;
    opacity: 1;

    .p-toast-message-content {
        background: var(--surface-100);
        border: 2.5px solid var(--toast-border);
    }
}

.toast-message {
    display: flex;
    width: 100%;

    .nba-game-toast {
        display: flex;
        width: 100%;
        margin: 0 1rem;
        justify-content: space-between;
        align-items: center;  

        .team-logo-container {
            display: flex;
            align-items: center;
            gap: 5px;

            .team-logo {
                width: 50px;
            }
        }

        .message-summary {
            font-weight: bold;
        }
    }
}