<app-header></app-header>
<div class="root-wrapper">
    <router-outlet></router-outlet>
</div>

<p-toast 
    position="bottom-center"
    key="nba-game" 
    (onClose)="this.toastService.closeNBAToast($event)" 
    [baseZIndex]="5000"
    styleClass="nba-game-ptoast"
    [preventDuplicates]="true"
 >
    <ng-template let-message pTemplate="message">
        <div class="toast-message">
            @if(message.data?.nbaGame; as game){
                <div class="nba-game-toast">
                    <div class="team-logo-container">
                        <a [href]="Pages.NBA_TEAMS + '/' + game.awayTeam.url_slug"><img src="/assets/images/logos/{{game.awayTeam.image}}.svg" class="team-logo" /></a>
                        <span class="versus-text">vs.</span>
                        <a [href]="Pages.NBA_TEAMS + '/' + game.homeTeam.url_slug"><img src="/assets/images/logos/{{game.homeTeam.image}}.svg" class="team-logo"/></a>
                    </div>
                    <span class="message-summary">{{message.summary ? message.summary+": " : ""}}{{message.detail}}</span>
                    <p-button 
                        class="p-button-sm" 
                        [link]="true" 
                        label="View Game" 
                        icon="pi pi-external-link" iconPos="right"
                        (click)="this.toastService.viewNBAGame(game)"
                    ></p-button>
                </div>
            }
            @else {
                Missing Game
            }
        </div>
    </ng-template>
</p-toast>
<p-toast 
    position="top-right"
    key="general" 
    (onClose)="this.toastService.closeGeneralToast($event)" 
    [baseZIndex]="5000"
 >
</p-toast>
