<div class="game-card-container">
    <div *ngIf="this._game" class="game-card-main">
        <!-- Away Team -->
        <div *ngIf="this.awayTeam" class="game-team-info">
            <a [href]="Pages.NBA_TEAMS + '/' + this.awayTeam.url_slug"><img src="/assets/images/logos/{{this.awayTeam.image}}.svg" class="team-logo" /></a>
            <span class="team-name">{{this.awayTeam.short_name}}</span>
            <span *ngIf="this.awayStats" class="stats">{{this.awayStats.wins}}-{{this.awayStats.losses}}</span>
        </div>

        <div class="game-time-info">
            <span *ngIf="this.seriesText" class="game-series">{{this.seriesText}}</span>
            <span *ngIf="this.dateStr" class="game-date">{{this.dateStr}}</span>
            <span *ngIf="this.timeStr" class="game-time">{{this.timeStr}}</span>
            <div *ngIf="this._game.tvBroadcasters" class="tv-providers">
                @for (broadcaster of this._game.tvBroadcasters; track broadcaster) {
                    @for (image of broadcaster.images; track image; let index = $index) {
                        <p-button [text]="true" (onClick)="this.openBroadcaster(broadcaster, index)" [pTooltip]="broadcaster.name" tooltipPosition="bottom" [showDelay]="1000">
                            <img 
                                src="/assets/images/logos/broadcasters/{{image.image_name}}.svg" 
                                class="tv-provider"                                
                                [ngStyle]="{
                                    'width': image.width
                                }"
                            />
                        </p-button>
                    }
                }
            </div>
            <div *ngIf="this.link" class="view-game-container">
                <a *ngIf="this.link" class="view-game-link" [href]="this.link" target="_blank">View Game</a>
                <i class="pi pi-external-link view-game-icon"></i>
            </div>
        </div>

        <div *ngIf="this.homeTeam" class="game-team-info">
            <a [href]="Pages.NBA_TEAMS + '/' + this.homeTeam.url_slug"><img src="/assets/images/logos/{{this.homeTeam.image}}.svg" class="team-logo" /></a>
            <span class="team-name">{{this.homeTeam.short_name}}</span>
            <span *ngIf="this.homeStats" class="stats">{{this.homeStats.wins}}-{{this.homeStats.losses}}</span>
        </div>

    </div>
</div>
